@inject IJSRuntime JSRuntime;
@inject NotifierService Notifier

<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>

<button type="button" @onclick="TryLogin">Log in</button>




@code
{
    private bool isVisible = false;

    private async Task TryLogin(){
        //var identityProvider = "https://solid.community/";
        isVisible = !isVisible;
        await Notifier.Update(isVisible);

        //var response = await JSRuntime.InvokeAsync<string>("HaereLib.GetWebId");
    }
}