@page "/"
@inject IJSRuntime JSRuntime;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button type="button" @onclick="TryLogin">Log in</button>

<div class="dialog-container">
    <LoginPrompt />
</div>


@code
{
    private async Task TryLogin(){
        var identityProvider = "https://solid.community/";

        var response = await JSRuntime.InvokeAsync<string>("GetIdentityProvider", identityProvider);
    }
}